.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.map-container {
  flex-grow: 1;
  height: 100%;
  position: relative; /* This is important for maplibre-gl to render correctly */
}

.tooltip {
    position: absolute;
    background: rgba(22, 22, 22, 0.85);
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 100;
    color: #fff;
    font-size: 12px;
    max-width: 250px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}